/*Подключение шрифтов*/

@font-face {
  font-family: "Gilroy";
  src: 
    local("Gilroy"),
    url("fonts/gilroyextrabold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: 
    local("Gilroy"),
    url("fonts/gilroylight.woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: 
    local("Open Sans"),
    url("fonts/opensans.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: 
    local("Open Sans"),
    url("fonts/opensanslight.woff");
  font-weight: lighter;
  font-style: normal;
}



/*Глобальные стили*/

body {
  margin: 0;
  padding: 0;
  min-width: 1240px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: lighter;
  color: #000000;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.visually-hidden {
  position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.clearfix::after {
  content:"";
  display:table;
  clear:both;
}

body>input[type=radio] {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header {
  position: relative;
  margin-top: 40px;
  min-height: 265px;
  padding-top: 34px;
  background-color: #f7e296;
}

.main-header::after {
  display: block;
  position: absolute;
  content: "";
  right: 460px;
  bottom: 65px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.catalog-header {
  position: relative;
  margin-top: 40px;
  min-height: 152px;
  padding-top: 34px;
  background-color: #f7e296;
}

.services {
  background-color: #e5e5e5;
}

.catalog-items-header {
  background-color: #ebebeb;
}

.filter-form {
  background-color: #eeeeee;
}

.paginator {
   background-color: #ebebeb;
}

footer {
  padding-top: 54px;
  padding-bottom: 71px;
  min-width: 210px;
  background-color: #464646;
}

.footer-logo {
  padding-bottom: 9px;
}

.footer-left,
.footer-right {
  padding-top: 10px;
  width: 340px;
  min-height: 190px;
}


/*Стили взаимодействий*/

a:hover {
  color: rgba(0,0,0,0.6);
}

a:active {
  color: rgba(0,0,0,0.3);
}

.categories a:hover {
  color: #000000;
}

.categories a:active {
  color: rgba(0,0,0,0.3);
}

.header-logo {
  position: absolute;
  top: -18px;
  left: 60px;
}


.catalog-logo {
  position: absolute;
  top: -16px;
  left: 58px;
}


.header-logo:hover,
.footer-logo:hover,
.copyright:hover {
  opacity: 0.6;
}

.header-logo:active,
.footer-logo:active,
.copyright:active {
  opacity: 0.3;
}

.btn, 
a,
button,
label {
  cursor: pointer;
}

footer a:hover {
  color: rgba(255,255,255,0.6);
}

footer a:active {
  color: rgba(255,255,255,0.3);
}

.index:hover,
.index:active {
  opacity: 1;
  cursor: default;
}

.main-header .li-one:hover {
  z-index: 1;
}


.nav-left > li:hover .menu {
  display: flex;
  z-index: 5;
}



/*Общие текстовые стили и стили главной страницы*/

.write-us input[type=text],
textarea {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: #000000;
}

.catalog-goods, 
.nav-right, 
.btn {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-left,
.header-right,
.dropdown-col,
.main-description p,
.services p,
.info .text-descrirtion,
.main-footer p,
.main-footer .telephone,
.footer-user-block a {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: lighter;
  line-height: 30px;
}

.header-right,
.header-left,
.dropdown-col,
.footer-user-block a {
  line-height: 36px;
}

.number-slide { 
  font-size: 179px;
  font-weight: bold;
} 

.special-caption,
.services h3,
.info h3,
.catalog-main h2{
  font-size: 47px;
  font-weight: bold;
}

.main-features-value {
  font-size: 36px;
}

.main-features-type {
  font-size: 13px;
}

.categories-items,
.footer-links a,
.write-us label {
  font-size: 18px;
  font-weight: bold;
}

.info b {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}

footer,
footer a,
footer p {
  color: #ffffff;;
}



/*Cтили каталога*/

.exit-button {
  color: rgba(0,0,0,0.3);
}

.breadcrumbs a{
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: lighter;
  color: rgba(0,0,0,0.3);
  line-height: 36px;
}

.breadcrumbs a:hover:not(:last-child) {
  color: rgba(0,0,0,0.6);
}

.breadcrumbs a:active:not(:last-child) {
  color: rgba(0,0,0,0.1);
}

.breadcrumbs a:nth-child(3) {
  cursor: default;
}

.catalog-caption {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-sorting-type {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: lighter;
  line-height: 18px;
}

.catalog-sorting-type a:nth-child(1):hover,
.catalog-sorting-type a:nth-child(1):active {
  color: #000000;
  cursor: default;
}


.catalog-sorting-type a:nth-child(2),
.catalog-sorting-type a:nth-child(3) {
  color: rgba(0,0,0,0.3);
}

.catalog-sorting-type a:hover:not(:first-child) {
  color: rgba(0,0,0,0.6);
}

.catalog-sorting-type a:active:not(:first-child) {
  color: rgba(0,0,0,1);
}

.form-legend {
  font-size: 18px;
  font-weight: bold;
}

.selected-price span {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 27.27px;
  color: rgba(0,0,0,0.2);
}

.filter-form label {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 40px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
}

.item-price {
  font-size: 16px;
}

.paginator {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.paginator a.prev:hover,
.paginator a.next:hover {
  color: #000000;
}

.paginator a.prev:active,
.paginator a.next:active {
  color: rgba(0,0,0,0.3);
}

.paginator a:nth-child(3),
.paginator a:nth-child(4) {
  color: rgba(0,0,0,0.3);
}

.paginator a:nth-child(2):hover,
.paginator a:nth-child(2):active {
  color: #000000;
}

.paginator a:nth-child(3):hover,
.paginator a:nth-child(4):hover {
  color: rgba(0,0,0,0.6);
}

.paginator a:nth-child(3):active,
.paginator a:nth-child(4):active {
  color: #000000;
}




/*Сетки*/

.header-row {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 36px;
}

.header-right,
.nav-right {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
}

.compare-cart {
  display: flex;
  min-width: 220px;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
}

.menu {
  display: flex;
}

.categories-items {
  display: flex;
}

.special-item {
  display: block;
}

.special-item img {
  float: left;
}

.main-description{
  position: relative;
  float: right;
  width: 511px;
  padding-top: 35px;
}

.services-container {
  display: flex;
}
.partners {
  display: flex;
}

.info {
  display: flex;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 5px;
}

.footer-user-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 30px;
}

.footer-user-block a:not(:first-child) {
  position: relative;
  margin-left: 35px;
}

.footer-user-block a {
  padding-left: 25px;
}

.footer-user-block a:first-child {
  padding-left: 42px;
}

.footer-user-block a:last-child {
  padding-left: 28px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 83px;
  width: 439px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-left: 7px;
  margin-right: 5px; 
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-left p {
  margin-top: 17px;
}

.telephone {
  margin-top: 34px;
}

.copyright {
  margin-top: 63px;
}

.footer-left {
  position: relative;
}

.footer-left::after {
  content: "";
  display: block;
  position: absolute;
  top: 182px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.partners {
  display: flex;
}

.header-right {
  margin-top: 7px;
}

.header-left {
  margin: 0;
  padding: 1px 1px 1px 40px;
  margin-top: 7px;
}

.user-block-main a {
  margin-left: 26px;
}

.compare-cart a{
  margin-left: 35px;
  padding-left: 26px;
}

.catalog-goods,
.nav-services a,
.nav-contacts {
  letter-spacing: 3.5px;
}

.user-block-main .exit-button {
  margin: 0;
  padding: 0;
  margin-left: 14px;
}

.nav-services a:last-child {
  margin-left: 30px;
}

.nav-contacts {
  margin-right: -2px;
}

.nav-left {
  position: relative;
}

.nav-left .menu {
  display: none;
  position: absolute;
  top: 20px;
  left: -60px;
  padding-top: 23px; 
  width: 1160px;
  min-height: 141px;
  background-color: #f7e296;
  letter-spacing: -0.18px;
  word-spacing: 0.5px;
}

.dropdown-col:nth-of-type(2) { 
  padding-left: 4px;
}

.dropdown-col:nth-of-type(3) { 
  padding-left: 20px;
}

.nav-left .menu .dropdown-col {
  margin-right: 55px;
}

.nav-left .menu .dropdown-col:first-of-type {
  margin-left: 60px;
}



/*Слайдер*/

.slider {
  position: relative;
  min-height: 495px
}

.overflow {
  position: relative;
	width: 1160px;
	overflow: hidden;
  
}

.slides .special-items {
	width: 3480px;
}

.slides .special-item {
  position: relative;
  float: left;
  padding-right: 50px;
	width: 1110px;
  min-height: 400px;
}

#special-btn-1:checked ~ .main-index .special-items {
	transform: translate(0px);
}

#special-btn-2:checked ~ .main-index .special-items {
	transform: translate(-1160px);
}

#special-btn-3:checked ~ .main-index .special-items {
	transform: translate(-2320px);
}

label { 
	cursor: pointer;
}


.slider-btn label {
  display: inline-block;
  width: 5px;
	height: 5px;
	border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 1px black;
}

.slider-btn label:hover {
	opacity: 0.6;
}

.slider-btn label:active {
	opacity: 0.3;
}

#special-btn-1:checked ~ .main-index #btn-1,
#special-btn-2:checked ~ .main-index #btn-2,
#special-btn-3:checked ~ .main-index #btn-3 {
  box-shadow: 
    0 0 0 1px black,
    inset 0 0 0 1px black;
}

.slider-btn {
  position: absolute;
  right: 84px;
  bottom: 271px;
  z-index: 3;
}

.slider-btn label:not(:first-child) {
  margin-left: 20px;
}


.main-index {
  position: relative;
  margin-bottom: 82px;
}

.overflow {
  position: relative;
  top: -108px;
}


.slider-first img {
  position: relative;
  margin-top: -3px;
  padding-left: 90px;
}

.slider-second img {
    padding-top: 9px;
    padding-left: 116px;
}

.slider-third img {
    padding-top: 62px;
    padding-left: 31px;
}

.number-slide {
    position: absolute;
    top: -15px;
    right: -6px;
    z-index: 1;
    font-size: 180px;
    line-height: 180px;
    color: #fff;
    letter-spacing: 3.2px;
}

.special-caption {
  position: relative;
  z-index: 2;
  margin-top: 42px;
  margin-bottom: 19px;
  margin-left: 1px;
  line-height: 56px;
  letter-spacing: .012em;
  word-spacing: .012em;
}

.main-description p {
  margin: 0px;
  width: 503px;
  line-height: 30px;
  letter-spacing: .012em;
  word-spacing: .01em;
}

.main-description p:last-of-type {
  margin-bottom: 43px;
}

.main-description .btn {
  min-width: 210px;
  margin-bottom: 53px;
  margin-left: 1px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 9px 5px;
  text-align: center;
  letter-spacing: 3.6px;
}

.btn::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
  transition: all .2s ease-in-out;
}

.btn:hover::before {
  top:0;
  height:100%;
}

.btn:hover {
color: #000;
}

.btn:active {
color: rgba(0, 0, 0, 0.3);
}

.main-features-value td {
  min-width: 125px;
  padding-right: 20px;
}

.main-features-value td.carbon {
  padding-right: 0;
}

.main-features {
  position: relative;
  top: -13px;
  left: -15px;
  border-spacing: 14px;
  letter-spacing: .012em;
}